#comments {
  width:50vh !important;
  height:50vh !important;
  box-shadow: 5inch rgb(78, 75, 75) !important;
  
}
#Announce {
   margin-left: 35%;
   margin-top: 40px;

}
h1 {
    margin-left: 8%;
    color:red;
}
body {
    background-color:rgba(156, 218, 98, 0.685)
}
@media(max-width:800px)
{
  
}